.container1{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    display: block;
}

.container2{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    display: inline;
}

.container3{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    display: inline-block;
}
